[submodule "charts/nfs-ganesha-server-and-external-provisioner"]
	path = charts/nfs-ganesha-server-and-external-provisioner
	url = git@github.com:kubernetes-sigs/nfs-ganesha-server-and-external-provisioner.git
