spec:
  template:
    spec:
      containers:
      - command:
        - /bin/sh
        - -c
        - "echo \"Hyperflow environmental variables:\" ; env | grep \"HF_\" ; while\
          \ ! [ -f /work_dir/workflow.json ]; do echo \"Waiting for workflow.json\
          \ to be mounted...\" ; done ; echo \"Workflow data mounted: \" ; ls -la\
          \ /work_dir ; if [ $HF_VAR_DEBUG -eq 0 ] ; then\n  cd /work_dir/ ;\n  mkdir\
          \ -p logs-hf ;\n  echo \"Running workflow:\" ;\n  hflow run workflow.json\
          \ ;\n  if [ \"$(ls -A /work_dir/logs-hf)\" ]; then\n    echo 1 > /work_dir/postprocStart\
          \ ;\n  else\n    echo \"Hyperflow logs not collected. Something must have\
          \ gone wrong!\"\n  fi ;\n  echo \"Workflow finished. Container is waiting\
          \ for manual termination.\" ;\n  while true; do sleep 5 ; done ;\nelse\n\
          \  while true; do sleep 5 ; done ;\nfi ;\n"
        env:
        - name: REDIS_URL
          value: redis://redis.default.svc.cluster.local:6379
        - name: HF_VAR_function
          value: k8sCommand
        - name: HF_VAR_JOB_TEMPLATE_PATH
          value: /opt/hyperflow/job-template.yaml
        - name: HF_VAR_WORKER_CONTAINER
          value: hyperflowwms/montage2-worker:je-v1.1.1
        - name: HF_VAR_WORK_DIR
          value: /work_dir
        - name: HF_VAR_DEBUG
          value: '1'
        - name: HF_VAR_BACKOFF_LIMIT
          value: '0'
        - name: HF_VAR_STOP_WORKFLOW_WHEN_JOB_FAILED
          value: '1'
        - name: HF_VAR_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        image: hyperflowwms/hyperflow:v1.4.3
        imagePullPolicy: Always
        name: hyperflow
        volumeMounts:
        - mountPath: /work_dir:shared
          name: workflow-data
        - mountPath: /opt/hyperflow/job-template.yaml
          name: config-map
          readOnly: true
          subPath: job-template.yaml
      - command:
        - /bin/bash
        - -c
        - 'while ! [ -f /work_dir/parsingFinished ]; do echo "Waiting for parsingFinished
          flag to be mounted..." ; sleep 5 ; done ; echo "parsingFinished flag mounted:
          " ;  ls -la /work_dir/parsingFinished ; cd /work_dir/parsed/*/ ; sudo chmod
          -R 777 . ; hflow-viz-trace -s . ; while true; do sleep 5 ; done ;

          '
        image: hyperflowwms/hflow-tools:1.2.2
        imagePullPolicy: Always
        name: hflow-tools
        resources:
          requests:
            cpu: 0
        volumeMounts:
        - mountPath: /work_dir:shared
          name: workflow-data
