apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs
spec:
  storageClassName: "nfs"
  accessModes: {{ .Values.pv.accessModes | toYaml | nindent 4 }}
  resources:
    requests:
      storage: {{ .Values.pv.capacity.storage }}
